* {
    font-family: "等线",serif;
}
body{
    margin: 0;
    padding: 0;
    background: #c9e6f9
}
.frame{
    height: 1440px;
    width: 100%;
}
.toppanel{
    position:relative;
    font-size: 28px;
    right: -3%;
}
.container{
    display: flex;
    position: relative;
    top: -8px;
    gap: 12px;
}
.sidebox{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    background: #232323;
    color: #b5b5b5;
}
.textbox1{
    width: 70%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.textmain{
    font-size: 18px;
}
.imgbox{
    display: flex;
    flex-wrap: wrap;
}
.img{
    position: relative;
    object-fit: cover;
    width: 33%;
}
.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.fcc-btn:hover {
    background-color: #0db583;
}